{% extends 'template-inicio.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <center>
        <h1>BIENVENIDO AL PROYECTO "HELP ME"</h1>
        <h2>¿Qué deseas hacer?</h2>
        <div>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </div>
        <div>
            <a href="{% url 'signup' %}">Registrarse</a>
        </div>
        <div>
            <a href="{% url 'foro' %}">Ingresar como invitado</a>
        </div>
        
    </center>
{% endblock %}