{% extends 'template-inicio.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block home %}href="{% url 'login' %}"{% endblock %} 

{% block content %}
    <center>
        <h1 style="margin-top: 80px;">INICIAR SESIÓN</h1>

        <!-- Formualrio de inicio de sesión -->
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Usuario</td>
                    <td><input type="text" name="email" placeholder="Ingrese su correo"></td>
                </tr>
                <tr>
                    <td>Contraseña</td>
                    <td><input type="password" name="password" placeholder="Ingrese su contraseña"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Iniciar sesión"></td>
                </tr>
            </table>
        </form>

    </center>

    <div>
        No tienes una cuenta?
        <a href="{% url 'signup' %}">Registrarse</a>
    </div>

    <div>
        Volvamos al inicio
        <a href="{% url 'inicio' %}">Inicio</a>
    </div>

{% endblock %}