{% extends 'template-inicio.html' %}

{% block title %} Políticas y condiciones {% endblock %}

{% block content %}

<h1>Políticas de privacidad, términos y condiciones</h1>

<h1>Políticas de privacidad</h1>
    <ul>
        <li><a href="#policies">Políticas de privacidad</a></li>
        <li><a href="#recopilacion">Recopilación de información</a></li>
        <li><a href="#uso">Uso de la información</a></li>
        <li><a href="#divulgacion">Divulgación de la información</a></li>
        <li><a href="#seguridad">Seguridad de la información</a></li>
        <li><a href="#derechos">Derechos de privacidad de los usuarios</a></li>
        <li><a href="#enlaces">Enlaces a otros sitios</a></li>
        <li><a href="#cambios">Cambios en la política de privacidad</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>

<h1>Términos y condiciones</h1>
    <ul>
        <li><a href="#responsabilidad">Responsabilidad del usuario</a></li>
        <li><a href="#derechos-propiedad">Derechos de propiedad</a></li>
        <li><a href="#uso-aplicacion">Uso de la aplicación</a></li>
        <li><a href="#responsabilidad">Responsabilidad de la aplicación</a></li>
        <li><a href="#edad-minima">Edad mínima</a></li>
        <li><a href="#uso-comercial">Uso comercial</a></li>
        <li><a href="#derechos-autor">Derechos de autor</a></li>
        <li><a href="#contenido-inapropiado">Contenido inapropiado</a></li>
        <li><a href="#codigo-conducta">Código de conducta</a></li>
    </ul>

<h1>Resumen</h1>
<ul>
    <li><a href="#resumen">Resumen</a></li>
</ul>

<h1>Contacto</h1>
<ul>
    <li><a href="#contacto">Contacto</a></li>
</ul>
<div>
<section id="policies">
        <h1>Políticas de privacidad</h1>
	<p>Esta aplicación web de foros se compromete a proteger la privacidad de sus usuarios y a cumplir con todas las leyes y regulaciones aplicables. A continuación, se describen las políticas de privacidad de la aplicación:</p>
	
    <section id="Recopilacion">
        <h1>Recopilación de información:</h1>
        <p>Al registrarse en la aplicación, se solicita a los usuarios que proporcionen su nombre completo, fecha de nacimiento, correo electrónico, contraseña, carrera y una fotografía de perfil opcional. Esta información se utiliza para identificar a los usuarios y permitirles interactuar con el foro. Además, la aplicación recopila información sobre el uso de la aplicación, como los temas y publicaciones a los que los usuarios acceden.</p>
        <p>La aplicación recopila información de los usuarios de varias maneras, incluidos los formularios de registro, los mensajes de correo electrónico y los archivos de registro del servidor. La aplicación recopila información de los usuarios cuando se registran en la aplicación, cuando envían mensajes de correo electrónico a la aplicación y cuando visitan la aplicación o hacen clic en enlaces en la aplicación.</p>
    </section>

    <section id="uso">
        <h1>Uso de la información:</h1>
        <p>La información recopilada se utiliza para permitir que los usuarios interactúen con el foro y se comuniquen con otros usuarios. La información también se utiliza para mejorar la aplicación y personalizar la experiencia del usuario. Los datos recopilados no se venden a terceros.</p>
    </section>

    <section id="divulgacion">
        <h1>Divulgación de información:</h1>
	    <p>La aplicación puede divulgar información de los usuarios si es requerido por la ley o si se considera necesario para proteger la seguridad y los derechos de la aplicación y sus usuarios.</p>
    </section>

    <section id="seguridad">
        <h1>Seguridad de la información:</h1>
	    <p>La aplicación utiliza medidas de seguridad apropiadas para proteger la información de los usuarios. Sin embargo, no se puede garantizar la seguridad completa de la información en línea.</p>
    </section>

    <section id="derechos">
	<h1>Derechos de privacidad de los usuarios:</h1>
	<p>Los usuarios tienen derecho a acceder, actualizar o eliminar su información personal en cualquier momento. Los usuarios también pueden optar por dejar de recibir correos electrónicos de la aplicación.</p>
    </section>

    <section id="enlaces">
        <h1>Enlaces a otros sitios</h1>
        <p>La aplicación puede contener enlaces a otros sitios. La aplicación no es responsable de las políticas de privacidad de otros sitios.</p>
    </section>

    <section id="cambios">
        <h1>Cambios en la política de privacidad</h1>
        <p>La aplicación puede actualizar esta política de privacidad de vez en cuando. La aplicación publicará cualquier cambio en esta política en esta página.</p>
    </section>

</section>
</div>

<div>
<section id="terminos">
    <h1>Términos y condiciones</h1>
    <p>Al utilizar esta aplicación web de foros, los usuarios aceptan los siguientes términos y condiciones:</p>

    <section id="responsabilidad">
        <h1>Responsabilidad del usuario</h1>
        <p>Los usuarios son responsables de cualquier contenido que publiquen en el foro. Los usuarios deben respetar las leyes y regulaciones aplicables y no publicar contenido que sea ilegal, difamatorio, discriminatorio, violento o pornográfico.</p>
    </section>

    <section id="derechos-propiedad">
        <h1>Derechos de propiedad</h1>
        <p>La aplicación tiene los derechos de propiedad sobre el contenido generado por el usuario publicado en el foro. Los usuarios conceden a la aplicación una licencia no exclusiva para utilizar su contenido en la aplicación y en cualquier otro medio.</p>
    </section>

    <section id="uso-aplicacion">
        <h1>Uso de la aplicación</h1>
        <p>La aplicación se reserva el derecho de suspender o cancelar la cuenta de cualquier usuario que viole estos términos y condiciones. La aplicación también puede cambiar o actualizar estos términos y condiciones en cualquier momento.</p>
    </section>

    <section id="responsabilidad">
        <h1>Responsabilidad de la aplicación</h1>
        <p>La aplicación no es responsable de cualquier daño o perjuicio causado por el uso de la aplicación. La aplicación tampoco es responsable de cualquier contenido publicado por los usuarios en el foro.</p>
    </section>
    
    <section id="edad-minima">
        <h1>Edad mínima</h1>
        <p>Los usuarios deben tener al menos 16 años de edad para utilizar la aplicación.</p>
    </section>
    
    <section id="uso-comercial">
        <h1>Uso comercial</h1>
        <p>Está prohibido utilizar la aplicación con fines comerciales, incluyendo publicar anuncios o promociones. Cualquier usuario que infrinja esta política puede ser suspendido o inhabilitado.</p>
    </section>
    
    <section id="derechos-autor">
        <h1>Derechos de autor</h1>
        <p>Los usuarios no pueden publicar contenido que infrinja los derechos de autor de otros. Si se reciben denuncias de infracción de derechos de autor, se eliminará el contenido y se puede suspender o inhabilitar la cuenta del usuario infractor.</p>
    </section>
    
    <section id="contenido-inapropiado">
        <h1>Contenido inapropiado</h1>
        <p>Los usuarios no pueden publicar contenido que sea discriminatorio, racista, sexista, socioeconómico, de contenido sensible como información personal o privada que no sea parte de lo que pide la aplicación, y contenido sexual o pornográfico, o contenido que incite a actos ilegales o mencione el uso de estupefacientes. Si se detecta contenido inapropiado, se eliminará y se puede suspender o inhabilitar la cuenta del usuario infractor.</p>
    </section>
    
    <section id="codigo-conducta">
        <h1>Código de conducta</h1>
        <p>La aplicación promueve un ambiente seguro y respetuoso para todos los usuarios. Los usuarios deben tratar a otros usuarios con respeto y no tolerar la discriminación o el acoso en el foro. La aplicación se reserva el derecho de suspender o inhabilitar la cuenta de cualquier usuario que infrinja el código de conducta.</p>
    </section>

</section>
</div>
<section id="resumen">
    <h1>Resumen</h1>
    <p>
        En general, al utilizar esta aplicación web de foros, los usuarios aceptan cumplir con las políticas de privacidad y los términos y condiciones establecidos. Si los usuarios tienen preguntas o inquietudes sobre estas políticas, deben comunicarse con la aplicación.
    </p>
    <p>
        Es importante que los usuarios entiendan que el incumplimiento de cualquiera de estas políticas puede resultar en la suspensión o inhabilitación de la cuenta. Al utilizar esta aplicación web de foros, los usuarios aceptan cumplir con todas las políticas y términos y condiciones establecidos. Si los usuarios tienen alguna pregunta o inquietud sobre estas políticas, deben comunicarse con la el equipo de desarrollo de la aplicación.
    </p>
</section>

<section id="contacto">
    <h2>Contacto</h2>
    <p>Si tiene alguna pregunta o inquietud sobre estas políticas y términos y condiciones, puede comunicarse con la aplicación web del foro a través del formulario de contacto disponible en la página de inicio.</p>
</section>


{% endblock %}