<!DOCTYPE html>
<html lang="es-Mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi PythonPage</title>
</head>
<body>
    <h1>Hello World From Django</h1>
    <center>
        <!-- Formualrio de registro -->
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="name" placeholder="Ingrese su nombre(s)"></td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td><input type="text" name="last_name" placeholder="Ingrese sus apellidos"></td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td><input type="text" name="username" placeholder="Ingrese su nombre de usuario"></td>
                </tr>
                <tr>
                    <td>Correo</td>
                    <td><input type="email" name="email" placeholder="Ingrese su correo"></td>
                </tr>
                <tr>
                    <td>Contraseña</td>
                    <!--  Contraseña de minimo 8 caracteres  -->
                    <td><input type="password" name="password1" pattern=".{8,}" placeholder="Minimo 8 caracteres"></td>
                </tr>
                <tr>
                    <td>Confirmar contraseña</td>
                    <td><input type="password" name="password2" pattern=".{8,}" placeholder="Repita la contraseña"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Registrarse"></td>
                </tr>
            </table>
        </form>

    </center>

</body>
</html>