{% load static %}
<!DOCTYPE html>
<html lang="es-Mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <!-- Icono de la app -->
    <link rel="shortcut icon" href="{% static 'images/logo1.png' %}" type="image/x-icon">
    <!--  Bloque del titulo para plantilla  -->
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <ul class="loading">
    <li class="loaderli"></li>
    <li class="loaderli"></li>
    <li class="loaderli"></li>
    <li class="loaderli"></li>
    <li class="loaderli"></li>
  </ul>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" {% block home %}{% endblock %}>TOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Volver a home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'foro' %}">Ir al foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!--  Bloque del contenido para plantilla  -->
    {% block content %}
    
    {% endblock %}
    <!--  Footer de información  -->
    <footer class="bg-dark text-light" style="margin-top: 30px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center" style="margin-top: 15px;">PROYECTO INTEGRADOR: "HELP ME"</p>
            <p class="text-center"><a href="{% url 'policies' %}" class="text-light">Términos, condiciones y Política de privacidad</a></p>
            <p class="text-center">&copy; {{ year }} - Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </footer>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
      // Espera a que la página haya cargado completamente
      window.addEventListener('load', function() {
        // Encuentra el elemento que contiene la animación de carga
        var loader = document.querySelector('.loading');
        // Oculta la animación de carga
        loader.style.display = 'none';
      });
    </script>    
</body>
</html>